#!/usr/bin/env sh

# Load the flake's `devShells.${currentSystem}.default`.
if ! use flake .; then
	echo 'The development shell was unable to be built.' >&2
	echo 'The development environment was not loaded.' >&2
	echo 'Please make the necessary changes in flake.nix to fix any issues and hit enter to try again.' >&2
fi
