policy_module(wings, 1.0.0)

########################################
#
# Declarations
#

type wings_t;
type wings_exec_t;
type wings_etc_t;
init_daemon_domain(wings_t, wings_exec_t, wings_etc_t)

permissive wings_t;

########################################
#
# wings local policy
#
allow wings_t self:fifo_file rw_fifo_file_perms;
allow wings_t self:unix_stream_socket create_stream_socket_perms;
allow wings_t wings_exec_t:file execmod;

domain_use_interactive_fds(wings_t)

files_read_etc_files(wings_t)

miscfiles_read_localization(wings_t)

require {
        type wings_exec_t;
        class file { execmod map };
}
