name: Run Tests
on:
  push:
    branches-ignore:
      - 'master'
      - 'release/**'
  pull_request:
jobs:
  build:
    strategy:
      # Default is true, cancels jobs for other platforms in the matrix if one fails
      fail-fast: false

      matrix:
        os: [ ubuntu-20.04 ]
        go: [ 1.15.5 ]
        goos: [ linux ]
        goarch: [ amd64, arm, arm64 ]

    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-go@v2
        with:
          go-version: ${{ matrix.go }}

      - name: Build
        env:
          GOOS: ${{ matrix.goos }}
          GOARCH: ${{ matrix.goarch }}
          CGO_ENABLED: 0
        run: |
          go build -v -ldflags="-s -w -X github.com/pterodactyl/wings/system.Version=dev-${GIT_COMMIT:0:7}" -o build/wings_${{ matrix.goos }}_${{ matrix.goarch }} wings.go

      - name: Test
        run: go test ./...

      - name: Compress binary and make it executable
        if: ${{ github.ref == 'refs/heads/develop' || github.event_name == 'pull_request' }}
        run: |
          upx build/wings_${{ matrix.goos }}_${{ matrix.goarch }} && chmod +x build/wings_${{ matrix.goos }}_${{ matrix.goarch }}

      - uses: actions/upload-artifact@v2
        if: ${{ github.ref == 'refs/heads/develop' || github.event_name == 'pull_request' }}
        with:
          name: wings_${{ matrix.goos }}_${{ matrix.goarch }}
          path: build/wings_${{ matrix.goos }}_${{ matrix.goarch }}

      - uses: actions/upload-artifact@v2
        if: ${{ github.ref == 'refs/heads/develop' || github.event_name == 'pull_request' }}
        with:
          name: wings_${{ matrix.goos }}_${{ matrix.goarch }}
          path: build/wings_${{ matrix.goos }}_${{ matrix.goarch }}
